---
layout: default
---

<ul class="bakes">
    {% for bake in site.data.bakes %}
    <li>
        <article class="bake">
            <aside class="bake__meta-info">
                <div class="date"><time datetime="{{ bake.date }}">{{ bake.date | date_to_string }}</time></div>
                <div class="rating" data-rating="{{ bake.rating }}">Rating: {{ bake.rating }} / 5</div>
                {% if bake.recipeUrl %}
                <div class="original-recipe"><a href="{{ bake.recipeUrl }}" target="_blank">Original recipe</a></div>
                {% endif %}
            </aside>
            <div class="bake__detail">
                <h2>{{ bake.name }}</h2>
                {% if bake.instagramUrl %}
                    <a class="photo" href="{{ bake.instagramUrl }}/media/?size=l">
                        <img src="{{ bake.instagramUrl }}/media/?size=t" />
                    </a>
                {% endif %}
                <div class="description">{{ bake.description }}</div>
            </div>
        </article>
    </li>
    {% endfor %}
</ul>
