.bakes {
  &,
  li {
    list-style: none;
    margin: 0 auto;
    padding: 0;
  }
}

.bake {
  @include clearfix;
  position: relative;
  margin-bottom: $spacing-unit-vertical;
  background-color: $white;
  @include box-shadow(0 0 15px 0 rgba(darken($accent, 15%), 0.25));
  padding: 2em;

  h2 {
    margin-top: 0;
  }

  .bake__meta-info {
    width: 20%;
    float: left;
    margin-right: $spacing-unit-horizontal;
    @include font-size(12px);
    text-transform: uppercase;

    > div {
      margin-bottom: $spacing-unit-vertical;
    }
  }

  .bake__detail {
    overflow: hidden;
    @include clearfix;
  }

  .photo {
    float: left;
    margin: 0 1em 1em 0;


    img {
      display: block;
    }
  }

  .date {
    padding-left: 25px;
    line-height: 20px;
    background: transparent image-url('cal.svg') 0 0 no-repeat;
    background-size: 20px 20px;
  }

  .rating {
    width: 100px;
    background-image: image-url('rating_empty.svg');

    .stars {
      background-image: image-url('rating_full.svg');
    }

    &,
    .stars {
      height: 20px;
      display: block;
      background-color: transparent;
      background-position: 0 0;
      background-repeat: repeat-x;
    }
  }

  .original-recipe {
    a {
      padding-left: 25px;
      line-height: 20px;
      background: transparent image-url('recipe.svg') 0 0 no-repeat;
      background-size: 20px 20px;
      text-decoration: none;
    }
  }
}
