html {
  background: $white image-url('swirl_pattern.png') 0 0 repeat;
}

.l-site-header,
.l-site-footer {
  .l-region__inner {
    padding: $spacing-unit-vertical $spacing-unit-horizontal;
  }
}

.l-site-header,
.l-site-footer,
.l-content {
  .l-region__inner {
    max-width: $max-container-width;
    margin: 0 auto;
  }
}

.l-content {
  .l-region__inner {
    max-width: $max-container-width;
    padding: 0 $spacing-unit-horizontal $spacing-unit-vertical;
  }
}

.l-site-footer {
  background-color: darken($accent, 5%);
}
